.separateur{
    
    border-left: 2px solid white;
    height: 15px;
     
   }

  .couleur{
    background-color: darkorange;
  }

  .couleur2{
    color: darkorange;
  }
 
   .bordure{
       border: 5px solid darkorange;
   }
 
   .bordure2{
    border: 5px solid grey;
 }
 
   .footer{
     position: fixed;   
     bottom: 0px;     
     width: 100%;  
     background-color:white;  
     color: white;  
     text-align: center;  
   }
 
   .zoom {
     transition: transform .2s; /*animation*/
   }
 
   .zoom:hover {
     transform: scale(1.1); /* 150% zoom-note */
   }

